* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.all {
    width: 96%;
    margin: 0 auto;
}

body {
    background-image: url(../Imatges/maize-bank.png);
    margin: 25px;
}

nav {
    margin: 10px;
}

nav a {
    text-transform: uppercase;
}

.inici {
    border: 4px solid white;
    border-radius: 35px;
    margin: 20px 0 20px 0px;
    background-color: rgba(255, 255, 255, 0.6);

}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

h2{
    text-transform:uppercase;
}
.consulta {
    border: 5px solid white;
    border-radius: 0 0 30px 30px;
    padding: 10px;
}
table{
    width:100%;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.titoltaula{
    text-align:center;
    border-bottom:3px solid white;
    border-radius:30px;
    background-color:aquamarine;
    font-size:20px;
    text-decoration-style: solid;
}
tr th{
    border-top:2px solid black;
    border-bottom:2px solid black;
    text-transform:capitalize;
}
tr:hover{
    background-color:grey;
}

.exp1 {
    margin: 15px 0 15px 0;
}
.inserirdades{
    padding:10px;
}
.exp1 p {
    font-size: 20px;
    background-color: lightgreen;
    padding: 10px;
    text-align: justify;
    border-radius: 20px 0px;
}

.exp2 {
    margin: 0 0 20px 0;
}

.exp2 p {
    font-size: 20px;
    background-color: lightgreen;
    padding: 10px;
    text-align: justify;
    border-radius: 20px 0px;
}

.exp3 {
    margin-bottom: 10px;
}

.exp3 p {
    font-size: 20px;
    background-color: lightgreen;
    padding: 10px;
    text-align: justify;
    border-radius: 20px 0px 40px 40px;
}

ul li {
    display: inline;
    padding: 10px;
    border: 3px solid green;
    border-radius: 0px 20px;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}


h2 {
    background-color: mediumaquamarine;
    padding: 10px;
    font-size: 20px;
    border-bottom: 5px solid white;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
}

.caixafotos {
    height: 300px;
    padding: 20px 0 20px 0;
    margin: 10px 0 10px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
}

.arbre {
    width: 30%;
    display: block;
    float: left;
    margin: 0 1% 0 1%;
    height: 100%;
}

video {
    width: 30%;
    height: 260px;
    float: left;
    margin: 0 1% 0 1%;
    height: 100%;
}

.arbre2 {
    width: 30%;
    display: block;
    float: left;
    margin: 0 1% 0 1%;
    height: 100%;
}

.articles {
    height: 300px;
    padding: 20px;
    margin: 20px 0 20px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
}

.links {
    width: 70%;
    float: left;
}

.link1 {
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: aquamarine;
    color: white;
    margin: 20px 0 0 0;
    border-radius: 30px;
    padding: 10px;
}

.slideshow {
    max-width: 25%;
    position: relative;
    margin: auto;
    height: 100%;
    float: right;
}

.slideshow img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}


li:hover {
    background-color: palegreen;
}

a:hover {
    color: black;
}

h3 {
    color: aliceblue;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: green;
    color: white;
    margin: 20px 0 0 0;
    border-radius: 30px;
    padding: 10px;
}
